/* Custom navbar styling */
.navbar-custom {
    background-color: white; /* Custom color */
    
}
.nav-link {
    color: grey; /* Dark grey for contrast */
}
.nav-link:hover {
    color: #41C9E2; /* Change color on hover */
}
.navbar-brand {
    color: black; /* Custom color for the brand/logo */
}
.navbar-brand:hover {
    color: #B1A296; /* Lighter shade on hover */
}

body {
    background: linear-gradient(to bottom, #41C9E2 0%, white 100%);
}

.login-button {
    background-color: #41C9E2; /* Custom color */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    margin-top: 10px; /* Spacing */
}

.login-button:hover {
    background-color: #008DDA; /* Darker shade on hover */
    color: white;
}
/* Base styles for hover effect */
.hover-effect-left:hover {
    background-color: rgb(190, 40, 40)
}

.hover-effect-right:hover {
    background-color: grey;
}

/* Base style for the buttons */
.container.bg-white {
    overflow: hidden; /* Ensure the border animation doesn't extend outside the button */
    position: relative; /* For positioning the pseudo-elements */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for transform and shadow */
    border: 2px solid transparent; /* Prepare the button for border animation */
}

/* Animation on hover */
.container.bg-white:hover {
    transform: scale(1.05); /* Scale the button up */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

/* Dynamic border animation */
.container.bg-white::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 2px solid transparent;
    transition: transform 0.3s ease; /* Smooth transition for the border */
    transform: scale(0); /* Start the scale at 0 to grow on hover */
}

/* Ensuring content is not selectable for better UX during the animation */
.container.bg-white * {
    pointer-events: none;
}

