{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
{% if session.get('user_type') == 'user' %}
<div class="container-fluid mt-5 p-1">
    <!-- Large Button at the Top -->
    <div class="row justify-content-center mb-4 text-center p-2">
        <div class="col-12">
            <form action="{{  url_for('home')  }}" method="POST">
                <input type="text" name="form_value" value="quiz1" hidden>
                <button type="submit" class="btn btn-white border w-75 p-5 cool-hover" style="background-color: white; color: black;">
                    <img class="ms-3" src="/static/images/search (1).png" width="100px">
                    <h3 class="mt-3">Main test</h2>
                    <h5>20 questions</h5>
                </button>
            </form>
        </div>
    </div>
    <!-- Three Smaller Buttons at the Bottom -->
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3 p-5">
            <form action="{{  url_for('home')  }}" method="POST">
                <input type="text" name="form_value" value="quiz2" hidden>
                <button class="btn btn-white border w-100 p-3 cool-hover" style="background-color: white; color: black;">
                    <img src="/static/images/emotions.png" width="70px">
                    <h5 class="mt-3">Quiz 1</h5>
                </button>
            </form>
        </div>
        <div class="col-md-4 mb-3 p-5">
            <form action="{{  url_for('home')  }}" method="POST">
                <input type="text" name="form_value" value="quiz3" hidden>
                <button class="btn btn-white border w-100 p-3 cool-hover" style="background-color: white; color: black;">
                    <img src="/static/images/face-recognition.png" width="70px">
                    <h5 class="mt-3">Quiz 2</h5>
                </button>
            </form>
        </div>
        <div class="col-md-4 mb-3 p-5">
            <form action="{{  url_for('home')  }}" method="POST">
                <input type="text" name="form_value" value="quiz4" hidden>
                <button class="btn btn-white border w-100 p-3 cool-hover" style="background-color: white; color: black;">
                    <img src="/static/images/bipolar.png" width="70px">
                    <h5 class="mt-3">Quiz 3</h5>
                </button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid text-center p-5">
    <div class="container p-5">
        <h3 class="fw-light mt-5 text-white">Access User Profiles and Score Data</h3>
        <button class="btn btn-white border w-25 p-5 mt-5 cool-hover" style="background-color: white; color: black;" onclick="downloadFile()">
        <img src="/static/images/database.png" width="70px">
        <h5 class="mt-3">Download database</h5>
    </button>
    </div>
    <script>
        function downloadFile() {
            window.location.href = '/download-db'; // Directing browser to the Flask route for download
        }
    </script>
</div>
{% endif %}
{% endblock %}
